{{- $name := "" -}}
{{- if (hasKey . "name") -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $profile := "" -}}
{{- if (hasKey . "profile") -}}
{{-   $profile = .profile -}}
{{- else -}}
{{-   $profile = promptString "profile (root-osx, osx, root-linux)" -}}
{{- end -}}

{{- $hostname := "" -}}
{{- if (hasKey . "hostname") -}}
{{-   $hostname = .hostname -}}
{{- else -}}
{{-   $hostname = promptStringOnce . "hostname" "hostname (default: e-dang)" "e-dang" -}}
{{- end -}}

{{- $global_vault_path := "" -}}
{{- if (hasKey . "global_vault_path") -}}
{{-   $global_vault_path = .global_vault_path -}}
{{- else -}}
{{-   $global_vault_path = promptStringOnce . "global_vault_path" "global vault path (leave empty if none)" "" -}}
{{- end -}}

{{- $is_work := false -}}
{{- if (hasKey . "is_work") -}}
{{-   $is_work = .is_work -}}
{{- else -}}
{{-   $is_work = promptBoolOnce . "is_work" "is this a work machine" false -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}
    hostname = {{ $hostname | quote }}
    global_vault_path = {{ $global_vault_path | quote }}
    is_work = {{ $is_work }}