{{- if contains "root" .profile -}}
#!/bin/bash

which -s brew
if [[ $? != 0 ]] ; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/cask-drivers"

brew "zsh"
brew "git"
brew "python"
brew "tree"
brew "parallel"
brew "nvm"
brew "yarn"
brew "pulumi"
brew "helm"
brew "k9s"
brew "awscli"
brew "sops"
brew "jq" # json cli parser
brew "yq" # yaml cli parser
brew "tldr"
brew "ripgrep"
brew "chezmoi"
{{ if eq .profile "root-osx" -}}
brew "coreutils"
brew "wget"
brew "azure-cli"
brew "gnupg"

cask "visual-studio-code"
cask "miniconda"
cask "iterm2"
cask "google-chrome"
cask "firefox"
cask "rectangle"
cask "logitech-options"
cask "docker"
cask "arduino"
cask "spotify"
cask "figma"
cask "postman"
cask "react-native-debugger"
{{ end -}}

EOF
{{ end }}